<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>{%TITLE%}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<div id="page" align="center">
			<div id="content" style="width:779px">
				<div id="logo">
					<div style="margin-top:70px" class="whitetitle"></div>
				</div>
				<div id="topheader">
					<div align="left" class="titletext">
						<br />
						{%Title%}
					</div>
					<div id="toplinks" class="smallgraytext">
						{%BarMenu%}
					</div>
				</div>
				<div id="menu">
					<div align="right" class="smallwhitetext" style="padding:9px;">
						{%Menu%}
					</div>
				</div>
				<div id="submenu">
					<div align="right" class="smallgraytext" style="padding:9px;">
						{%SubMenu%}
					</div>
				</div>
				<div id="contenttext">
					<div style="padding:10px">
						<span class="titletext">{%TitleContainer%}</span>
					</div>
					<div class="bodytext" style="padding:12px;" align="justify">
						{%Container%}
					</div>
				</div>
				<div id="leftpanel">
					<div align="justify" class="graypanel">
						{%TitlePanel%}
						{%ContainerPanel%}
					</div>
				</div>
				<div id="footer" class="smallgraytext">
					{%FooterMenu%}
				</div>
			</div>
		</div>
	</body>
</html>