<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="author" content="Wink Hosting (www.winkhosting.com)" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="images/style.css" type="text/css" />
		<title>{%Title%}</title>
	</head>
	<body>
		<div id="page" align="center">
			<div id="content" style="width:779px">
				<div id="logo">
					<div style="margin-top:70px" class="whitetitle"></div>
				</div>
				<div id="topheader">
					<div align="left" class="titletext">
						<br />
						{%Title%}
					</div>
					<div id="toplinks" class="smallgraytext">
						{%BarMenu%}
					</div>
				</div>
				<div id="menu">
					<div align="right" class="smallwhitetext" style="padding:9px;">
						{%Menu%}
					</div>
				</div>
				<div id="submenu">
					<div align="right" class="smallgraytext" style="padding:9px;">
						{%SubMenu%}
					</div>
				</div>
				<div id="contenttext">
					<div style="padding:10px">
						<span class="titletext">{%TitleContainer%}</span>
					</div>
					<div class="bodytext" style="padding:12px;" align="justify">
						{%Container%}
					</div>
				</div>
				<div id="leftpanel">
					<div align="justify" class="graypanel">
						{%TitlePanel%}
						{%ContainerPanel%}
					</div>
				</div>
				<div id="footer" class="smallgraytext">
					{%FooterMenu%}
				</div>
			</div>
		</div>
	</body>
</html>